name: Update TranslationFiles packages

# Reusable workflow
on:
    workflow_call:
        inputs:
            prestashop_version:
                description: Which PrestaShop version you want to update
                required: true
                type: string
            environment:
                description: Which environment you want update (integration, production)
                required: true
                type: string
        secrets:
            translation_tool_token:
                required: true
            credentials_json:
                required: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
    # This workflow contains a single job called "push_archives_to_bucket"
    push_archives_to_bucket:
        # The type of runner that the job will run on
        runs-on: ubuntu-latest
        # The selected environment is very important because the secrets have different values depending on the chosen environment
        environment:
          name: ${{ inputs.environment }}
        steps:
            # Initial checkout of the full repository to get the latest tag and change branch depending on the environment
            - name: Checkout TranslationTools app
              uses: actions/checkout@v6
              with:
                repository: PrestaShopCorp/TranslationTool
                fetch-depth: 0
                token: ${{ secrets.translation_tool_token }}

            # For preproduction we use master and for production we use TranslationTool latest tag
            # For other values we use the dev branch from TranslationTool
            # The target branch for TranslationFiles is also defined based on the chosen environment
            - name: Prepare Job settings
              run: |
               if test ${{ inputs.environment }} = "production";
               then
                 LATEST_TAG=$(git describe --tags `git rev-list --tags --max-count=1`)
                 git checkout $LATEST_TAG
                 echo "TRANSLATION_TOOL_REF=$LATEST_TAG" >> $GITHUB_OUTPUT
                 echo "TRANSLATION_FILES_BRANCH=master" >> $GITHUB_OUTPUT
               elif test ${{ inputs.environment }} = "preproduction";
               then
                 git checkout master
                 echo "TRANSLATION_TOOL_REF=master" >> $GITHUB_OUTPUT
                 echo "TRANSLATION_FILES_BRANCH=preproduction" >> $GITHUB_OUTPUT
               else
                 git checkout dev
                 echo "TRANSLATION_TOOL_REF=dev" >> $GITHUB_OUTPUT
                 echo "TRANSLATION_FILES_BRANCH=integration" >> $GITHUB_OUTPUT
               fi
              shell: bash
              id: job-settings

            - name: Display task details
              run: echo "Update PrestaShop version ${{ inputs.prestashop_version }} using environment ${{ inputs.environment }} with TranslationTool branch/tag ${{ steps.job-settings.outputs.TRANSLATION_TOOL_REF }} and content from TranslationFiles branch ${{ steps.job-settings.outputs.TRANSLATION_FILES_BRANCH }}"

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: '8.1'
                  extensions: curl, json

            - name: Install composer dependencies
              run: composer install

            # Checkout repository TranslationFiles in var dir so that the command can use it with the appropriate branch
            - name: Checkout TranslationFiles in var dir
              uses: actions/checkout@v6
              with:
                  path: var/TranslationFiles
                  ref: ${{ steps.job-settings.outputs.TRANSLATION_FILES_BRANCH }}

            # Depending on the environment a different credential key is used
            - name: 'Authenticate to Google Cloud'
              uses: 'google-github-actions/auth@v3'
              with:
                  credentials_json: ${{ secrets.credentials_json }}

            - name: Run push bucket command
              run: php bin/console prestashop:bucket:push-archives --prestashop-version=${{ inputs.prestashop_version }}
              env:
                  TRANSLATIONS_GCP_PROJECT_ID: core-oss-${{ inputs.environment }}
                  TRANSLATIONS_GCP_BUCKET_NAME: translations-core-oss-${{ inputs.environment }}
                  TRANSLATIONS_GCP_CREDENTIAL_FILE: ${{ env.GOOGLE_APPLICATION_CREDENTIALS }}
